.residency {
    background: url(../../../../public/assets/informative/aboutUsImg2.png);
    /* padding: 10rem 0; */
    padding: 8% 0 6% 0;
    position: relative;
}

.residency-row {
    /* padding-left: 8%; */
    display: flex;
    /* align-items: center; */
}

.residency-col-1 {
    /* padding-top: 6%; */
}

.col-1-box {
    margin-top: 30px;
}

.col-1-img {
    width: 100%;
}

.col-1-box-span_1 {
    font-weight: 700;
    font-size: 46px;
    display: block;
    color: var(--cold-black-color);
}

.col-1-box-span_2 {
    font-weight: 350;
    font-size: 16px;
    line-height: 31px;
    display: block;
    padding-top: 10px;
    color: var(--gray-color);
}


/* //////////////////// */
.residency-col-2 {
    /* position: relative; */
    position: absolute;
    top: 10%;
    right: -18%;
}

.animation-div {
    width: 80%;
}

.animation-svg {}

.animation-div-3 {
    position: absolute;
    top: 15%;
    right: 38%;
}

.animation-png {
    animation: smooth-jumping 3s infinite;
}

@keyframes smooth-jumping {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(40px);
    }
}