.profile__sidebar__wrapper {
  background: #ecf7ff;
  border-radius: 25.0257px;
}

.profile__sidebar__wrapper__icon {
  width: 33.95px;
  height: 33.95px;
  background: #fdfdfd;
  border: 0.424322px solid #e3e3e7;
  box-shadow: 0px 3.39458px 13.5783px rgba(69, 69, 69, 0.15);
  border-radius: 8.48645px;
}

.profile__sidebar__wrapper .nav {
  background: #ffffff;
  border-radius: 25.0257px;
}

.profile__sidebar__wrapper .nav-link {
  color: #000000 !important;
  padding: 25px 20px !important;
}

.profile__sidebar__wrapper .nav-link.active,
.profile__sidebar__wrapper .nav-item.show .nav-link {
  background-color: #278fd9 !important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #ffffff !important;
  /* border-radius: 100px; */
  background: #278fd9;
  border-radius: 25.0257px;
  border: none !important;
}

.profile__sidebar__wrapper .nav-link {
  color: #000000;
  display: flex;
}

.profile__sidebar__wrapper .nav-link {
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000 !important;
  font-weight: 400;
  font-size: 13.5783px;
  letter-spacing: 0.02em;
}

/* {
  background: #ffffff !important;
  border: 1.19633px solid #ebecf0 !important;
  border-radius: 100px !important;
  padding: 10px !important;
  display: flex !important;

  align-items: center !important;
  gap: 1rem;
} */

/* .nav-tabs > * {
  flex: 1;
}
.nav-tabs > * > button {
  width: 100%;
} */

.profile__image {
  width: 120px;
  height: 120px;
}

.profile__image img {
  width: 100%;
  height: 100%;
}

.profile__image__overlay {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0.3rem;
  transform: translate(50%, 50%);
  background-color: #278fd9;
  color: #fff;
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profile__image__overlay:hover {
  transform: translate(50%, 50%) scale(1.2);
}

.profile__sidebar__wrapper__signout {
  height: 67.38px;
  background: #ffffff;
  border: 0.962528px solid #278fd9;
  border-radius: 12.5129px;
  font-weight: 400;
  font-size: 16.4525px;
  letter-spacing: 0.02em;
  color: #278fd9;
}
