.pay-now-modal .modal-title {
  font-weight: 700;
  font-size: 24px !important;
  line-height: 48px;
  color: #000000;
}

.pay-now-modal p {
  font-weight: 350;
  font-size: 13px;
  line-height: 37px;
  color: #282431;
}

.pay-now-modal .form-label {
  font-weight: 350;
  font-size: 15px;
  color: #282431;
}

.pay-now-modal input {
  border-radius: 0px;
}

.pay-now-modal-qr-text h3 {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.pay-now-modal-qr-text h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
