

.slider{
    max-width: 90%;
    margin: 0 auto;
}
.partner-image{
    width: 100%;
    height: 100px;
}
.view-all{
    background-color: #FC5C67;
    color: white;
    border-radius: 28px;
    padding: 19px 35px;
    border: none;
    font-weight: 700;
        font-size: 22.0272px;
}
