.stats-row {
    background: var(--lite-skyblue);
    padding: 80px 0 40px 0;
    margin-top: 6rem;
}

.stats-row-col {
    text-align: center;
}

.stats-row-img {
    width: 16%;
}

.stats-row-count {
    font-weight: 700;
    font-size: 38px;
    ;
    padding: 18px 0 10px 0;
}

.stats-row-p {
    font-weight: 400;
    font-size: 23px;
    color: var(--silver-surfer);
}