.stats-row {
    background: var(--lite-skyblue);
    padding: 50px 80px 25px 80px;
    margin-top: 6rem;
}

.stats-row-col {
    text-align: center;
    margin-bottom: 20px;
}

.stats-row-img {
    width: 16%;
}

.stats-row-count {
    font-weight: 700;
    font-size: 30px;
    padding: 10px 0 5px 0;
}

.stats-row-p {
    font-weight: 400;
    font-size: 18px;
    color: var(--silver-surfer);
}