.dash-content .col-12 {
  background-color: var(--wild-sand);
}

.dash-content span {
  font-weight: 400;
  font-size: 14px;
}

.dash-content .text-truncate span:first-child {
  color: var(--cold-steel-color);
}

.dash-content .text-truncate span:last-child {
  color: var(--gray-color);
}

.overdue-btn {
  border: 0;
  outline: none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-inline: 20px;
  position: absolute;
  top: -13px;
  right: 0;
}

.overdue-btn:hover {
  background-color: var(--bg-red-darker);
}

.stacked-bar span {
  font-size: 0.8rem;
}

.stacked-bar-month {
  color: var(--carnation-color);
}

.downloaded-pdf {
  font-size: 1.3rem;
}
