.loginBanner img {
    /* object-fit: cover !important; */
    width: 100%;
}

.brokerLoginForm h7 {
    font-weight: 700;
    font-size: 43.39px;
    line-height: 56.4px;
}

/* .loginAs img{
width: 20px;
} */

.orLoginOption {
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

.orLoginOption::before {
    content: " ";
    height: 1px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: -26   ;

}

.orLoginOption::after {
    content: " ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 67;

}
.builderLoginPortal{
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    .brokerLoginForm h7 {
        font-weight: 700;
        font-size: 23.39px;
        line-height: 31.4px;
    }
    .brokerLoginForm{
        margin-top: -25px !important;
    }

    .builderLoginPortal {
        margin-top: 14px !important;
        margin-bottom: 25px !important;
    }
    .brokerLoanbtn{
        margin-top: -20px !important;
    }
}