.news {
    background-image: url('../../../../public/assets/informative/aboutUsImg2.png');
    background-size: cover;
    padding-top: 5%;
}

.news-container {
    margin: 23px auto 120px auto;
}

.news-box {
    width: 100%;
    /* padding-bottom: 20px; */
    border-radius: 8px;
    box-shadow: 0px 0px 15px 2px rgba(191, 191, 191, .2);
}

.news-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.news-image {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    transition: all .3s ease-in;
}

.news-box:hover .news-image {
    transform: scale(1.05);
}

.news-box-2 {
    padding: 18px 20px 30px 20px;
    /* margin-bottom: 30px; */
}

.news-date {
    display: flex;
    align-items: end;
}

.date-icon {
    font-size: 22px;
    color: var(--cold-black-color);
}

.news-date-span {
    font-weight: 300;
    font-size: 14px;
    color: var(--cold-black-color);
    margin-left: 2px;
}

.news-heading {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    line-height: 28px;
    color: var(--cold-black-color);
}

.news-heading:hover {
    color: var(--primary-color);
}

.news-desc {
    font-weight: 300;
    font-size: 14px;
    color: var(--gray-color);
    line-height: 24px;
    margin-bottom: 23px;
}

.news-btn {
    background: var(--color-white);
    border: 1px solid var(--primary-color);
    padding: 10px 28px;
    font-weight: 350;
    border-radius: 6px;
    transition: all .3s ease-in;
}

.news-btn:hover {
    color: var(--color-white);
    background: var(--primary-color);
}