.get-started {
    margin-top: 5rem;
    background: var(--lite-skyblue);
}

.get-started_row {
    display: flex;
    align-items: center;
}

.get-started_heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    display: block;
    width: 90%;
}

.get-started_btn {
    margin-top: 20px;
    padding: 8px 30px;
    display: block;
    background: transparent;
    border: 1px solid var(--primary-color);
    width: fit-content;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 350;
    transition: all .3s ease-in;
}

.get-started_btn:hover {
    background: var(--primary-color);
    color: var(--color-white);
}

.get-started_img {
    padding-top: 45px;
}