.t-c_span2 {
    margin-top: 10px;
    font-weight: 350;
    font-size: 18px;
    color: var(--cold-steel-color);
    display: block;
}
.t-c_box {
    padding-left: 20px;
}

.t-c_span_dot {
    width: 4px;
}

.t-c_li {
    line-height: 32px;
    font-weight: 350;
    font-size: 18px;
    color: var(--cold-steel-color);
    display: block; 
}