/* .building-image{
    height: 500px;
    width: 500px;
} */
body{
    font-family: Bahnschrift;
    overflow-x: hidden;
}
.banner-body{
    background-color: #E0F2FF;
    overflow-x: hidden;
}
.image-div{
    /* position: absolute; */
}
.hero-image{
    position: relative;
    left: 50px;
}
.banner-heading{
    font-family: Bahnschrift;
    line-height: 47.5px;
    color: black;
    font-weight: 700;
    padding-right: 50px;
}
.banner-content{
    text-align: left;
    padding:150px 70px;

}
.banner-description{
line-height: 25.7px;
font-weight: 300;
font-size: 15.19px;
padding: 30px 5px;
}
.banner-button{
    background-color: #278FD9;
    color: #ffff;
    padding: 8px 20px;
    border-radius: 6px;
}
.about-us{
    padding: 100px 0;
    background-image: url('');
}
.scan{
    margin-left: 50px;
}
.dot-curve{
    position: relative;
}
.bg-sky {
    background-color: #ECF7FF;
}

.text-bold {
    color: #000000;
    font-weight: 700;
    line-height: 2.4px;
    font-size: 44.26px;
    margin-top: 15px;
}

.text-grey {
    color: #282431;
    font-weight: 400;
    font-size: 26.57px;
    line-height: 87.41px;
    text-align: center;
    opacity: 0.5;
    margin: 8px 0;
}

.desc {

    font-style: normal;
    font-weight: 350;
    font-size: 17.75px;
    line-height: 31px;
    /* or 176% */
    text-align: left;

    color: #282431;

    opacity: 0.5;
}

.text-orange {
    font-style: normal;
    font-weight: 600;
    font-size: 26.1051px;
    line-height: 56px;
    /* identical to box height, or 214% */

    text-transform: uppercase;

    color: #FC5C67;
}