.main-testimonial-body {
    position: relative;
    padding-bottom: 48px;
    /* background-color: #F4FAFF; */
    background: linear-gradient(to bottom,
            #F4FAFF 0%,
            #F4FAFF 65%,
            white 60%,
            white 100%);
    z-index: -1;
}

.quote-image {
    max-width: 100%;
    max-height: 288px;
    position: absolute;
    z-index: -10;
    right: 5%;
    top: 50px;
    padding: 0px;
}

.heading {
    margin-bottom: 1%;
}

.slider {}

.bg-sky {
    background-color: #ECF7FF;
}

/* .text-bold {
    color: #000000;
    font-weight: 700;
    line-height: 2.4px;
    font-size: 44.26px;
    margin-top: 15px;
} */

.text-grey {
    color: #282431;
    font-weight: 400;
    font-size: 26.57px;
    line-height: 87.41px;
    text-align: center;
    opacity: 0.5;
    margin: 8px 0;
}

.desc {

    font-style: normal;
    font-weight: 350;
    font-size: 17.75px;
    line-height: 31px;
    /* or 176% */
    text-align: left;

    color: #282431;

    opacity: 0.5;
}

.text-orange {
    font-style: normal;
    font-weight: 600;
    font-size: 26.1051px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FC5C67;
}

.person-image {
    height: 75px;
    width: 75px;
}

.test-card {
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(191, 191, 191, .2);
    border: 1px solid transparent;
    padding: 50px 30px 30px 30px;
    transform: scale(1);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/* .test-card:hover {
    background-color: #1d1c1c !important;
    transform: scale(1.1);
} */

.test-card:hover {
    transform: translateX(1rem) !important;
    transition-duration: 300ms !important;
    border: 1px solid #1d1c1c;
}

.testimonial-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray-color);
    padding-right: 10px;
    /* text-align: justify; */
}

.test-name {
    font-weight: 600;
    font-size: 18px;
    /* line-height: 28px; */
    display: flex;
    align-items: center;
    text-align: right;
    color: #282431;
}

.test-company {
    font-weight: 350;
    font-size: 14px;
    /* line-height: 28px; */
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #282431;
    opacity: 0.5;
    text-align: right;
}
.card-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}