.play-button{
    position: absolute;
    top: 40%;
    right: 47%;
}
.video-main{
    position: relative;
}
video::-webkit-media-controls-panel {
display: none !important;
opacity: 1 !important;
}
.w-full{
    width: 100%;
}
@media screen and (max-width: 680px) {
  .play-button {
    top: 22%;
    right: 44%;
  }
}
