.video-main {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.w-full {
  width: 100%;
}

.play-button {
  position: absolute;
  top: 40%;
  right: 46%;
}
.home-video {
  width: 100%;
}
.video-main video::-webkit-media-controls-panel {
  display: none !important;
}


@media (max-width: 680px) {
  .play-button {
    top: 38%;
    width: 10%;
    right: 42%;
  }
}