.bg-sky {
    background-color: #ECF7FF;
}

.text-grey {
    color: var(--cold-black-color);
    font-weight: 400;
    font-size: 26.57px;
    line-height: 87.41px;
    text-align: center;
    opacity: 0.5;
    margin: 8px 0;
}

.desc {
    font-style: normal;
    font-weight: 350;
    font-size: 17.75px;
    line-height: 31px;
    /* or 176% */
    text-align: left;
    color: var(--cold-black-color);
    opacity: 0.5;
}

.text-orange {
    font-style: normal;
    font-weight: 600;
    font-size: 26.1051px;
    line-height: 56px;
    /* identical to box height, or 214% */
    text-transform: uppercase;
    color: var(--carnation-color);
}



/* ==================== */
.sections-heading {
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--carnation-color);
    display: block;
}
.sections-sub-heading {
    text-transform: capitalize;
    font-weight: 900;
    color: var(--cold-black-color);
    font-weight: 700;
    display: block;
    font-size: 44.26px;
}