/* ==================== */
.sections-heading {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--carnation-color);
    display: block;
}
.sections-sub-heading {
    text-transform: capitalize;
    font-weight: 900;
    color: var(--cold-black-color);
    font-weight: 700;
    display: block;
    font-size: 44px;
}