.partners {
    background: var(--lite-skyblue);
    overflow-x: hidden;
    position: relative !important;
    margin-bottom: 8%;
}

.partners-row {
    display: flex;
    align-items: center;
}

.partners-col-1 {
    padding-left: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-col-2 {
    background: url(../../../../public/assets/informative/partnerbuilding.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.partners-h4 {
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
}

.partners-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: var(--silver-surfer);
    width: 70%;
    margin-bottom: 24px;
}

.partners-link {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--color-white);
    padding: 9px 45px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
}

.partners-link:hover {
    background: var(--primary-color);
    color: var(--color-white);
}