/* Current Projects ================
================================= */
.current-project_slider .slick-next:before,
.slick-prev:before {
    font-size: 30px;
    color: var(--cold-black-color);
}
.current-project_slider .current-project-slider_col-1 {
    width: 50%;
    margin-right: auto;
    padding: 0;
    border-radius: 2rem;
    position: relative;
}
.current-project_slider .current-project-slider_tag {
    position: absolute;
    top: 0;
    left: 0;
    background: #39ADAF;
    color: var(--color-white);
    padding: 2px 6px;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 18px;
}
.current-project_slider .current-project-slider_icon1 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--cold-black-color);
    background: var(--color-white);
    padding: 2px 6px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: all .2s ;
}
.current-project_slider .current-project-slider_icon1:hover {
    transform: scale(1.04);
}
.current-project_slider .current-project-slider_icon2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}
.current-project-slider_col-1 .current-project-slider_img {
    height: 100%;
    width: 100%;
}
.current-project_slider .current-project_col-2 {
    width: 50%;
    padding: 20px 0 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.current-project_slider .current-project_span-1 {
    font-weight: 700;
    font-size: 16px;
    display: block;
}
.current-project_slider .current-project_span-2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--cold-black-color);
    display: block;
    margin-top: 8px;
}
.current-project_slider .current-project_span-3 {
    font-weight: 700;
    padding-right: .5rem;
    font-size: 14px;
    color: var(--primary-color);
    margin-top: 8px;
    display: block;
}
.current-project_slider .current-project_star {
    color: #ffb630;
    font-size: 16px;
    margin-right: 1.5px;
}