.CpPropertyDetailsApartment {
    margin-top: 20px;
    padding: 0;
}

.CpPropertyDetailsApartment-col {
    padding: 20px 30px;
    /* border: 2px solid #eaeaea; */
    box-shadow: 4px 10px 30px 1px rgba(0, 0, 0, 0.055);
    border-radius: 14px;
}

.CpPropertyDetailsApartment-div-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CpPropertyDetailsApartment-div-2 {
    display: flex;
    align-items: start;
}

.CpPropertyDetailsApartment-div-2_img {
    width: 80px;
}

.div-2_child_heading {
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.div-2_child_stars {
    display: flex;
    font-size: 18px;
    color: #FFB630;
}

.div-2_child_address {
    font-size: 14px;
    color: var(--silver-surfer);
    font-weight: 350;
    display: block;
    margin-top: 8px;
}

.CpPropertyDetailsApartment-div-2_child {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.CpPropertyDetailsApartment-div-2_child-img {
    display: block;
}

.CpPropertyDetailsApartment-div-2_child-span {
    display: block;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 350;
    color: var(--silver-surfer);
}

/* CpPropertyDetailsApartment-div-3 ===============
================================================ */
.CpPropertyDetailsApartment-div-3 {}

.CpPropertyDetailsApartment-div-3-span-1 {
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.CpPropertyDetailsApartment-div-3-span-2 {
    font-size: 14px;
    color: var(--silver-surfer);
    font-weight: 350;
    display: block;
}