.card-body{
    font-size: 13px !important;
}
.bl-card{
    width: 100%;
    max-width: 21.5rem;
    overflow: hidden;
}
.bl-card img{
    object-fit: cover;
    transition: transform 400ms linear;
}
.bl-card a:hover img{
    transform: scale(1.05);
}
.bl-p-2 {
    padding: 0.75rem !important;
}
.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.build-icon{
    width: 24px;
}
.prop-tag{
    background: #EFEFEF;
    padding: 3px 8px;
    border-radius: 5px;
}
.py-1{
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
}
.sold-heading{
    color: #000;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    cursor: pointer;
}
.recent-heading{
    color: #252B5C;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    cursor: pointer;
}
.sold-heading:hover, .recent-heading:hover{
    color: #278FD9;
}