.info_title-box {
    background: var(--lite-skyblue);
    padding: 14px 0;
    margin-top: 50px;
}

.info_title {
    font-weight: 600;
    font-size: 18px;
    color: var(--cold-black-color);
}

.info_span {
    line-height: 34px;
    font-weight: 500;
    font-size: 18px;
    color: var(--cold-black-color);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info_span2 {
    line-height: 34px;
    font-weight: 350;
    font-size: 18px;
    color: var(--cold-black-color);
    display: block;
}