.broker-banner {
    background: var(--lite-skyblue);
    overflow: hidden;
    position: relative !important;
}

.broker-banner-col-1 {
    padding-left: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 540px;
}

.broker-banner-h4 {
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
}

.broker-banner-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: var(--silver-surfer);
    margin-bottom: 24px;
}

/* =============== col-2
===================== */
.broker-banner-col-2 {
    display: flex;
    align-items: end;
    justify-content: flex-start;
}

.broker-banner-cartoon {
    width: 100%;
}

/* ================= col-3 
========================*/





/* mediaQueri */
@media(max-width: 992px) {
    .broker-banner-col-1 {
        height: auto;
        padding: 40px 20px 20px 6%;
    }

    .broker-banner-col-2 {
        display: none;
    }
}