.choose-card {
    border-radius: 10px;
    /* padding: 40px; */
    box-shadow: 0px 0px 15px 2px rgba(191, 191, 191, .2);
    border: 1px solid transparent;
    padding: 0 20px 40px 20px;
    transform: scale(1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    /* max-height: 260px !important; */
}


.choose-card:hover {
    transform: scale(1.05);
    border: 1px solid var(--primary-color);
}
.choose-icon-div {

}
.choose-icon-img {
    margin: 30px auto 16px auto;
    background: transparent;
    padding: 20px;
    width: 40%;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.choose-card:hover .choose-icon-img {
    /* margin: 36px 0; */
    background: var(--lite-skyblue);
}

.card-heading {
    color: var(--cold-black-color);
    font-weight: 900;
    font-size: 21px;
}

.card-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--gray-color);
    display: block;
    padding-top: 6px !important;
}

/* .bg-sky {
    background-color: #ECF7FF;
} */

.text-bold {
    color: #000000;
    font-weight: 700;
    line-height: 2.4px;
    font-size: 44.26px;
    margin-top: 15px;
}

.text-grey {
    color: #282431;
    font-weight: 400;
    font-size: 26.57px;
    line-height: 87.41px;
    text-align: center;
    opacity: 0.5;
    margin: 8px 0;
}

.desc {

    font-style: normal;
    font-weight: 350;
    font-size: 17.75px;
    line-height: 31px;
    /* or 176% */
    text-align: left;

    color: #282431;

    opacity: 0.5;
}

.text-orange {
    font-style: normal;
    font-weight: 600;
    font-size: 26.1051px;
    line-height: 56px;
    /* identical to box height, or 214% */

    text-transform: uppercase;

    color: #FC5C67;
}