.CpPropertyDetailsLocationAdvantage {
    padding: 0;
    margin-top: 45px;
}

.CpPropertyDetailsLocationAdvantage-col_12 {
    margin-top: 20px;
    padding: 0 10px 25px 10px;
    text-align: center;
    border-radius: 14px;
    border: 2px solid #eaeaea;
}
.CpPropertyDetailsLocationAdvantage-col {
    margin-top: 20px;
}
.CpPropertyDetailsLocationAdvantage-col_icon {
    font-size: 34px;
    color: var(--gray-color);
    width: 35px;
    height: 35px;
}
.CpPropertyDetailsLocationAdvantage-col_name {
    display: block;
    font-size: 14px;
    font-weight: 350;
    margin-top: 6px;
}
.CpPropertyDetailsLocationAdvantage-col_size {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 350;
    color: var(--silver-surfer);
}