.login__header.nes__header {
    background: #fff !important;
}
.login__header__img {
    width: 170px;
}

.login__header .nav-link {
    font-weight: 350;
    font-size: 15px;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    color: #278FD9;
}

.login__header .nav-link:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}


.profile-button {
    color: #278FD9;
    padding-left: 0;
    border-radius: 30px;
}

.profile-button:hover {
    color: white;
    background-color: #278FD9;
}


.nav-container {
    margin-right: 0 !important;
}

.download-button {
    background-color: #FC5C67;
    border: none;
    color: var(--color-white);
}
.download-button:hover {
    color: var(--color-white);
}

.download {
    /* margin-left: 22px; */
    position: relative;
    left: 14px;
}

.nav-image {
    position: relative;
    right: 100px;
}


/* =====================
===================== */
.login-link {
    color: var(--primary-color);
    font-size: 16px;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    font-weight: 350;
    border-radius: 8px;
    background: var(--color-white);
    transition: all .3s ease-in;
}

.login-link:hover {
    background: var(--primary-color);
    color: var(--color-white);
}

.broker-link-div {
    display: flex;
    align-items: center;
}

.informative-navbar-broker-link {
    margin-left: 6px;
}

.list-property-link {
    color: var(--color-white);
    font-size: 16px;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    font-weight: 350;
    border-radius: 8px;
    background: var(--primary-color);
    transition: all .3s ease-in;
}

.list-property-link:hover {
    background: var(--color-white);
    color: var(--primary-color);
}

@media (max-width: 992px) {}