@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  /* colors */
  --primary-color: #278fd9;
  --primary-color-darker: #1980c9;
  --color-white: #ffffff;
  --Pattens-Blue: #e0f2ff;

  /* divider */
  --divider: #d3d3d3;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-primary-darker {
  background-color: var(--primary-color-darker);
}

.txt-primary {
  color: var(--primary-color);
}

.divider {
  height: 1px;
  background-color: var(--divider);
}

.bg-pattens-blue {
  background-color: var(--Pattens-Blue);
}
