@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  /* colors */
  --primary-color: #278fd9;
  --primary-color-darker: #1980c9;
  --cold-steel-color: #282431;
  --color-white: #ffffff;
  --Pattens-Blue: #e0f2ff;
  --carnation-color: #fc5c67;
  --wild-watermelon-color: #fe5e6a;
  --wild-sand: #f6f6f6;
  --bg-red: #ff000e;
  --bg-red-darker: #b7010d;
  --gray-color: #b3b4b8;
  --silver-surfer: #7d7f88;

  /* divider */
  --divider: #d3d3d3;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-sky {
  background-color: #ecf7ff;
}
.text-bold {
  color: #000000;
  font-weight: 700;
  line-height: 2.4px;
  font-size: 44.26px;
  margin-top: 15px;
}
.text-grey {
  color: #282431;
  font-weight: 400;
  font-size: 26.57px;
  line-height: 87.41px;
  text-align: center;
  opacity: 0.5;
  margin: 8px 0;
}
