.latest-post-left {
    margin-top: 80px;
}

.latest-left_heading {
    font-weight: 900;
    color: var(--primary-color);
    font-size: 38px;
    display: block;
}

.latest-left_para {
    font-weight: 400;
    font-size: 32px;
}
.left-col {
    margin-bottom: 2rem;
}
.left-col_box {
    border: 1px solid var(--primary-color);
    border-radius: 14px;
    padding: 10px;
}

.left-col_img {
    width: 100%;
}

.left-col_date {
    display: block;
    margin-top: 1.4rem;
    color: var(--color-white);
    background: var(--primary-color);
    width: fit-content;
    padding: 6px 30px;
    border-radius: 8px;
    font-size: 14px;
}

.left-col_para {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    line-height: 1.4;
    color: var(--cold-black-color);
}

.left-col_para:hover{
    color: var(--primary-color);
}

.left-col_para-2 {
    font-weight: 400;
    width: 95%;
    font-size: 14px;
    color: var(--gray-color);
    line-height: 24px;
}
.left-col_link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}