.partners-second__card {
    padding: 10px;
    border: 2px var(--wild-sand) solid;
    margin-top: 50px;
}
.second-card__box  {
    background: var(--lite-skyblue);
    padding: 14% 5%;
    margin: auto;
}
.second-card__span-1 {
    text-align: center;
    /* width: 100%; */
    margin: auto;
    font-size: 2rem;
    color: var(--cold-black-color);
    font-weight: 600;
}
.second-card__btn-div {
    padding: 0 0px;
}
.second-card__btn {
    width: 45%;
    margin: auto;
    margin-top: 50px;
    background: #000;
    text-decoration: none;
    padding: 8px 0 10px 0;
    padding-left: 6px;
}
.second-card__icon {
    width: 150px;
    margin-right: 6px;
}
.second-card__icon-span-1 {
    font-size: 10px;
    display: block;
    line-height: 15px;
    color: var(--color-white);
    font-weight: lighter;

}
.second-card__icon-span-2 {
    font-size: 18px;
    line-height: 15px;
    display: block;
    color: var(--color-white);
}
.second-card__box-2 {
    width: 100%;
    margin-top: 50px;
}
.second-card__img-1 {
    width: 100%;
}