.CpPropertyDetailsSearch {
    padding: 0;
    margin-top: 30px;
}

.CpPropertyDetailsSearch-col {
    flex: 1;
    padding: 0;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.07);
}

/* Filter Styling */
.CpPropertyDetailsSearch-child_div_1 {
    width: 140px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 20px 0 30px;
    justify-content: space-between;
    border-right: 1px solid #EBECF0;
}

.CpPropertyDetailsSearch-child_div_1-span {
    transition: all .2s ease-in;
    font-size: 16px;
    font-weight: 350;
}

.CpPropertyDetailsSearch-child_div_1:hover .CpPropertyDetailsSearch-child_div_1-span {
    color: var(--primary-color);
}

/* Input Field Styling */
.CpPropertyDetailsSearch_input {
    padding: 4px 0 0 15px;
    display: flex;
    /* align-items: start; */
}

.CpPropertyDetailsSearch_input-search {
    background: transparent;
    border: none;
}

.CpPropertyDetailsSearch_search-icon {
    color: var(--gray-color);
    font-size: 19px;
}

.CpPropertyDetailsSearch_input-field {
    background: transparent !important;
    border: none !important;
}

.CpPropertyDetailsSearch_input-field::placeholder {
    color: var(--divider) !important;
    font-weight: 350;
    font-size: 16px;
}

/* Location Mic Search Buttons Styling */
.CpPropertyDetailsSearch_search-btn {
    padding: 15px 30px;
    font-size: 15px !important;
    margin-left: 12px;
}

/* DropDown Stlying */
.CpPropertyDetailsSearch_plus-toggle {
    padding: 14px;
    border-radius: 50%;
    margin-left: 8px;
    background: var(--primary-color);
}

.CpPropertyDetailsSearch_plus-toggle:active,
.CpPropertyDetailsSearch_plus-toggle:focus {
    background: var(--primary-color) !important;
}

.CpPropertyDetailsSearch_plus-icon {
    font-size: 30px;
}