.CpPropertyDetailsTC {
    margin: 45px auto;
    padding: 0;
}

.CpPropertyDetailsTC-col {
    border: 2px solid #eaeaea;
    padding: 30px;
    border-radius: 14px;
    margin-top: 20px;
}

.CpPropertyDetailsBrokerage-col_span-1 {
    display: block;
    font-size: 21px;
    font-weight: 800;
    color: var(--cold-black-color);
}

.CpPropertyDetailsTC-col_span {
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 350;
    color: var(--silver-surfer);
}

.CpPropertyDetailsTC-col_span:not(:first-child) {
    margin-top: 24px;
}

/* Media Queri ===================== */
@media(max-width: 576px) {
    .CpPropertyDetailsTC {
        padding: 0 10px;
    }
}